<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h6>{{error}}</h6>
    <form method="POST" action="/register">
        <label for="name">name</label>
        <input type="text" id="name" placeholder="enter your name" name="name">

        <label for="username">username</label>
        <input type="text" id="username" placeholder="enter your username" name="username">

        <label for="email">email</label>
        <input type="text" id="email" placeholder="enter your email" name="email">

        <label for="password">password</label>
        <input type="text" id="password" placeholder="enter your password" name="password">

        <button type="submit">Register</button>
    </form>
    
</body>
</html>